<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>adminCenter-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>monitor-1.0</feature>
    </featureManager>

    <basicRegistry id="basic" realm="customRealm">
        <user name="ceadmin" password="{xor}bi4+JX4OHgU=" />
        <user name="ceuser" password="{xor}bi4+JX4OHgU=" />
        <group name="admin">
            <member name="ceadmin" />
        </group>
    </basicRegistry>

    <administrator-role>
        <user>ceadmin</user>
    </administrator-role>

    <reader-role>
        <user>ceuser</user>
    </reader-role>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

</server>